html {
  display: block;
}

head {
  display: none;
}

body {
  font-family: helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  justify-content: center;
  display: block;
  margin: 0;
}

header {
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  z-index: 1;
  align-items: center;
  background-color: black;

}

.flex-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  }

header img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  text-decoration: underline;
  padding: 20px 10px;
  display: inline-block;
}

div {
  display: block;
}

.main-content {
  padding-top: 69px;
  margin: auto;
  opacity: 0.9;
  width: 1200px;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  opacity: 0.9;
  margin: auto;
}

#mission .content {
  background-color: black;
  width: 1200px;
  margin: auto;
  text-align: center;
}

#totm {
  margin: auto;
  width: 1000px;
}

#totm .content {
  background-color: black;
  width: 100%;
  margin: auto;
  text-align: center;
}

.item img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;


}

.item span {
  text-align: center;
  display: block;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  margin: auto;
}

#locations .content {
  text-align: center;
  margin: auto;
}

#locations .item {
  width: 300px;
  margin: 15px;
  text-align: center;
  background-color: black;

}

#contact {
  height: 200px;
  background-color: black;
  text-align: center;

}

footer {
  tect-align: left;
  padding-left: 20px;
}
